/* Global */
* {
  font-family: "VT323";
  color: #ffffff;
  overflow: hidden;
}

html {
  width: 100%;
  height: 100%;
}

body {
margin: 0;
  width: 100%;
  height: 100%;
  background-color: #101525;
}

h1 {
  font-size: 6.4rem;
  display: inline;
}

p {
  font-size: 1.6rem;
  display: inline;
}

.cols {
  display: flex;
  flex-direction: column;
}

.light-blue-back {
  border: none;
  font-size: 1.6rem;
  padding: 10px;
  background-color: #20343d;
}

.light-blue-back:active {
  background-color: #1b2a31;
}

.absolute-hor-center
{
	position: absolute;
	left: 0;
	right: 0;
}

.top
{
	top: 5%;
}

.bottom
{
	bottom: 5%;
}

.absolute-all-center
{
	position: absolute;
    left: 0;
    bottom: 40%;
    right: 0;
	padding: 20px;
}

/* Modal Menu styling */

#modal {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.2);
  backdrop-filter: blur(2px);
  align-items: center;
  display: none;
}

#modal-content {
  background-color: #101525;
  padding: 40px;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

/* Main Menu */

@keyframes blink {
  50% {
    opacity: 0;
  }
}

#cursor {
  animation-name: blink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1, jump-end);
}

#menu {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20% 0 20% 0;
}

.options {
  margin: 10px;
}

#option-wrapper {
  width: fit-content;
  margin: auto;
}

#create_game {
  width: 100%;
}

#game-id {
  display: none;
  margin: 0;
}

/* Game styling */

.deck {
  display: inline-block;
  margin: 0px 10px;
  padding: 10px;
  border-radius: 12px;
}

#SELF_DECK
{
	position: absolute;
	bottom: 0;
	right: 20px;
}

#OTHER_DECK
{
	position: absolute;
	bottom: 0;
	left: 20px;
}

#game {
  width: 100%;
  height: 100%;
  text-align: center;
  display: none; /* none or flex */
  flex-direction: column;
  position: relative;
}

/* Animation controls */

.select
{
	background-color: rgba(128, 128, 128, 20);
}

/* Flashes for opponent moves */

@keyframes flash
{
	0% {background-color: rgba(128, 128, 128, 20);}
}

.src-flash
{
	animation: 0.1s steps(1, jump-end) 0s flash;
}

.dst-flash
{
	animation: 0.15s steps(1, jump-end) 0.1s flash;
}

