* 
{
	font-family: "VT323";
	color: #ffffff;
	overflow: hidden;
  	box-sizing: border-box;
}

h1
{
	font-size: 6.4rem;
	display: inline;
	
}
p
{
	font-size: 1.6rem;
	display: inline;
}

@keyframes blink {
  50% {opacity:0}
}

#cursor
{
	animation-name:blink;
	animation-duration:1.5s;
	animation-iteration-count:infinite;
	animation-timing-function:steps(1, jump-end);
}

#menu
{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 60%
}

.options
{
	margin-top: 8px;
}

.light-blue-back
{
	background-color: #20343d;
	border:none;
	font-size: 1.6rem;
}

.light-blue-back:active
{
	background-color: #1B2A31;
}

html
{
	width: 95%;
	height: 95%;
}

body
{
	width: 100%;
	height: 100%;
  	background-color: #101525;
}

.deck {
	display: inline-block;
	margin: 5px 10px;
}

#game
{
	width: 100%;
	height: 100%;
	text-align: center;
	display: none; /* none or flex */
	flex-direction: column;
	justify-content: space-between;
}

#OTHER_DECK
{
	float: left;
}

#SELF_DECK
{
	float: right;
}
